{{ define "content" }}
    <h1 class="display-6">Welcome!</h1>
    <p class="lead">This is a simple gallery web application with the following features:</p>
    <ul class="list-unstyled">
        <li>&#10004; <strong>User Handling</strong>: Sign up, sign in, and forgot password</li>
        <li>&#10004; <strong>Session Handling</strong>: Using cookies</li>
        <li>&#10004; <strong>Gallery Handling</strong>: Creating, updating, and deleting</li>
        <li>&#10004; <strong>Image Handling</strong>: Showing, uploading, and deleting</li>
    </ul>
    <p>Tested with Google Chrome</p>
{{ end }}
