{{ define "content" }}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Reset Your Password</h2>
                <form method="POST" action="/reset-password">
                    {{csrfField}}
                    <!-- Token Field -->
                    {{ if .Token }}
                        <input type="hidden" name="token" value="{{ .Token }}">
                    {{ else }}
                        <div class="mb-3">
                            <label for="token" class="form-label">Password Reset Token</label>
                            <input type="text" class="form-control" id="token" name="token" placeholder="Enter your reset token" required>
                        </div>
                    {{ end }}

                    <!-- New Password Field -->
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter your new password" required>
                    </div>

                    <!-- Confirm New Password Field -->
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password" required>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
{{ end }}
